# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
ForbidenBananaPatrol/Library/metadata/00/00000000000000002000000000000000
ForbidenBananaPatrol/Library/metadata/00/00000000000000004100000000000000
*.bin
ForbidenBananaPatrol/Library/metadata/8e/8e5efdee84a21854aa7bf332b0cd6379.info
*.log
ForbidenBananaPatrol/Temp/UnityLockfile
ForbidenBananaPatrol/Library/metadata/00/00000000000000002000000000000000
*.txt
ForbidenBananaPatrol/Library/metadata/00/00000000000000002000000000000000
ForbidenBananaPatrol/Library/metadata/00/00000000000000002000000000000000
ForbidenBananaPatrol/Library/metadata/00/00000000000000002000000000000000
ForbidenBananaPatrol/Library/metadata/8e/8e5efdee84a21854aa7bf332b0cd6379
*.info
